*
{
margin: 0;
padding: 0;
font-family:"arial",sans-serif;
text-align: center;

}

html, body 
{
height: 100%;
margin: 0; padding: 0;
}

body 
{
display : table;
width: 100%;
}


h1
{
font-size: 2.5em;

}

h4
{
color: white;
}

h5
{
color: white;	
}

header
{
background-color:#FFD000;
border: 10px;
border-color:#FFD000;
}



section
{
border-left: 8px solid #333;
border-right: 8px solid #333;
background-color:ThreeDShadow;
margin-left: 10%;
margin-right:10%;
height: 87.25%;
}



nav
{
background: ThreeDDarkShadow;
}


ul 
{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}

li 
{
display: inline;
}

li a 
{
display: inline-block;
color: white;
text-align: center;
padding: 14px 50px ;
text-decoration: none;
}

li a:hover 
{
background-color: #111;
transition:1s;
}

a
{
color:white;
text-decoration: none;
}

td
{
color: white;
width: 20%;
}

table
{
margin: auto;
}

#foot
{
color: white;
width: 20%;
}

footer
{
background-color: #333;	
display : table-row;
height: 15px; 
text-align: center;
}


