*
{
margin: 0;
padding: 0;
font-family:"arial",sans-serif;
text-align: center;

}

html, body 
{
height: 100%;
margin: 0; padding: 0;
}

body 
{
display : table;
width: 100%;
}


article
{
background-color:White;
margin-left: 10%;
margin-right:10%;
}

table
{
margin: 0 auto;
}

h1
{
font-size: 2.5em;

}



h5
{
color: white;
}



header
{
background-color:#FFD000;
border: 10px;
border-color:#FFD000;
}



section
{


}

nav
{
background: ThreeDDarkShadow;
}


ul 
{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}

li 
{
display: inline;
}

li a 
{
display: inline-block;
color: white;
text-align: center;
padding: 14px 50px ;
text-decoration: none;
}

li a:hover 
{
background-color: #111;
transition:1s;
}

a
{
color:white;
text-decoration: none;
}

.table2
{
color:black;
}

#foot1
{
color: white;
width: 20%;
}

#foot
{
margin: auto;
}

footer
{
background-color: #333;	
display : table-row;
height: 15px; 

}
